@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: Parisienne;
    font-weight: 400;
    src: url(/font/Parisienne-Regular.woff2) format("woff");
  }
}

p, input, textarea {
  font-family: "Noto Serif", sans-serif;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}


 h1,h2,h3,h4,h5,span {
  font-family: "Montserrat", sans-serif;
}

h6 {
  font-family: 'Parisienne', cursive;
    font-size: 2rem !important;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem !important;
}

@layer base {
  a {
    color: #bde3fd;
  }
  body {
    background-color: hsl(210, 100%, 89%);
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


/* ~~~~ Custom CSS - I know it's bad T_T ~~~~ */

/* Stop page  side scrolling on mobile */
html,
body {
  overflow-x: hidden;
}


/* Mobile Nav */
.pb-3 {padding-bottom: 0.75rem; display: flex; flex-direction: column; align-items: center;}

/* Footer background colour */
.footer.max-w-7xl.mx-auto.p-20.mt-10.rounded-xl {background: linear-gradient(90deg, #796a99, #554970);}

/* mobile dropdown background */
.md\:hidden {background-color: hsl(214, 33%, 66%); border-radius: 0px 0px 10px 10px;}

/* galerie read more arrows */
.w-3\.5 {padding-left: 5px;}

/* 404 page */ 
.\34 04-p {display: flex; flex-direction: column; align-items: center; padding: 40px 0px;}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: visibility 2s 3s, opacity 2s linear;
  transform: translate(0,-50px);
  -webkit-transform: translate(0,-50px);
  -o-transform: translate(0,-50px);
  -moz-transform: translate(0,-50px);
}

.fadeIn {
  visibility: visible;
  opacity: 100;
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -ms-transition: all 2s linear;
  -o-transition: all 2s linear;
  transition: all 2s linear;
  transform: translate(0,50px);
  -webkit-transform: translate(0,50px);
  -o-transform: translate(0,50px);
  -moz-transform: translate(0,50px);
}

.video-16by9 {
  position: relative;
  width: 100%;
  height: fit-content;
  padding-top: 58.70%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  line-height: 0;
  -webkit-align-content: center;
  padding-right: 0;
  padding-left: 0;
  margin:0;

}

iframe {
  border: none !important;
  border-width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  overflow: hidden !important;
  border-style: none !important;
  border-width: 0 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 100% !important;
  height: 100% !important;
  line-height: 0 !important;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  border-radius: 0.75rem;
  -webkit-align-items: center;
  -webkit-align-self: center;
  -webkit-align-content: center;
  margin: 0 auto;
  display: block;
}
